<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tc.mapper.UserLoginMapper" >
    <!-- 字段与实体的映射 -->
    <resultMap id="BaseResultMap" type="com.tc.entity.UserLogin">
        <id column="userLoginId" property="userLoginId" jdbcType="VARCHAR" />
        <result column="currentPassword" property="currentPassword" jdbcType="VARCHAR" />
        <result column="enabled" property="enabled" jdbcType="VARCHAR" />
        <result column="partyId" property="partyId" jdbcType="VARCHAR" />
        <result column="telephoneNumber" property="telephoneNumber" jdbcType="VARCHAR" />
        <result column="openid" property="openid" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 根据条件查询，全部 -->
    <select id="searchAll" resultMap="BaseResultMap">
        select * from user_login
    </select>

</mapper>
