<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tc.mapper.UserLoginSecurityGroupMapper" >
    <!-- 字段与实体的映射 -->
    <resultMap id="BaseResultMap" type="com.tc.entity.UserLoginSecurityGroup">
        <id column="user_login_id" property="userLoginId" jdbcType="VARCHAR" />
        <id column="group_id" property="groupId" jdbcType="VARCHAR" />
        <id column="from_date" property="fromDate" jdbcType="TIMESTAMP" />
        <result column="thru_date" property="thruDate" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List">
        user_login_id,group_id,from_date,thru_date
    </sql>
    
    <!-- 根据条件查询，全部 -->
    <select id="searchAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from user_login_security_group
    </select>

    <select id="selectSecurityGroupsByUserId" resultMap="BaseResultMap" parameterType="String">
        select <include refid="Base_Column_List"/> from user_login_security_group where user_login_id = #{userName}
    </select>

</mapper>
